/*            Global            */
/*            Colors            */
/*            App Colors            */
/*            App Size            */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  user-select: none;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid #03e8f9;
}

/*           Common          */
.section {
  padding: 4rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.accent {
  font-size: 1.5rem;
  color: #03e8f9;
}

.accent:hover {
  color: #fd6413;
}

.max-container {
  max-width: 1200px;
  margin: 0 auto;
}

.inner-max-container {
  max-width: 800px;
  margin: 0 auto;
}

/*            Header            */
.header {
  background-color: #001524;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 95;
  transition: all 250ms ease-in;
  outline: 1px solid #fd6413;
  /*            Logo            */
  /*            Toggle btn            */
  /*            Nav            */
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header .logo .image {
  width: 36px;
  height: 36px;
}
.header .logo .title {
  font-size: 1.8rem;
  margin: 0;
}
.header #toggle {
  display: none;
}
.header .button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .button-container .button::before,
.header .button-container .button::after {
  pointer-events: auto;
}
.header .button,
.header .button::before,
.header .button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.header .button::before {
  content: "";
  margin-top: -8px;
}
.header .button::after {
  content: "";
  margin-top: 8px;
}
.header #toggle:checked + .button-container .button::before {
  margin-top: 0;
  transform: rotate(405deg);
}
.header #toggle:checked + .button-container .button {
  background: rgba(255, 255, 255, 0);
}
.header #toggle:checked + .button-container .button::after {
  margin-top: 0;
  transform: rotate(-405deg);
}
.header .nav .menu {
  display: flex;
  gap: 4px;
}
.header .nav .menu .item {
  padding: 8px 16px;
  display: block;
  text-align: center;
  border: 1px solid transparent;
}
.header .nav .menu .item:hover {
  border-bottom: 1px solid #03e8f9;
}
.header .nav .menu .item.active {
  border: 1px solid #03e8f9;
  border-radius: 4px;
}
.header .nav .menu.hide {
  display: none;
}

.header.hide {
  background-color: transparent;
  outline: none;
}

/*            Main            */
/*            Home            */
#home {
  background-color: #050a13;
  color: #ffffff;
  padding: 7rem 1rem 5rem;
  text-align: center;
}
#home .profile-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 3px solid #03e8f9;
  border-radius: 50%;
}
#home .title {
  font-size: 3rem;
  margin: 1rem;
}
#home .title .strong {
  color: #03e8f9;
}
#home .description {
  font-size: 1.3rem;
}
#home .contact-button {
  display: inline-block;
  background-color: #03e8f9;
  margin: 2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #050a13;
  border-radius: 4px;
}
#home .contact-button:hover {
  background-color: transparent;
  color: #ffffff;
  outline: 2px solid #fd6413;
}

/*            About            */
#about .majors {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2.5rem 0;
}
#about .majors .major {
  flex: 1;
  background-color: #1b1e26;
  padding: 2rem 1rem;
  color: #ffffff;
  border-radius: 1rem;
  user-select: none;
  width: 100%;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}
#about .majors .major .icon {
  font-size: 4rem;
  margin: 1rem 0;
  color: #03e8f9;
  transition: all 300ms ease;
}
#about .majors .major .title {
  font-size: 1.5rem;
  font-weight: bold;
}
#about .majors .major:hover .icon {
  transform: scale(1.2) rotate(-15deg);
}
#about .academy {
  text-align: start;
}
#about .academy .school {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
}
#about .academy .school .icon {
  font-size: 4rem;
}
#about .academy .school .name {
  font-size: 2rem;
  color: #050a13;
}
#about .academy .school .period {
  color: #050a13;
  font-size: 0.8rem;
}

/*           Journeys          */
#journeys {
  background-color: #1b1e26;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
#journeys .journey {
  margin: 2rem;
  background-color: #050a13;
  border-radius: 8px;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px, rgba(6, 24, 44, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
#journeys .journey .left {
  min-width: 300px;
  max-width: 500px;
}
#journeys .journey .left .period {
  font-size: 1rem;
}
#journeys .journey .left .name {
  margin: 1rem 0;
  font-size: 1.3rem;
}
#journeys .journey .left .description {
  font-size: 1.1rem;
}
#journeys .journey .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  font-size: 1.2rem;
}
#journeys .journey .right .content {
  display: inline-block;
  font-size: 1rem;
}
#journeys .journey .right .content:before {
  content: " * ";
  vertical-align: sub;
  color: #fd6413;
}
#journeys .journey .icon {
  font-size: 3rem;
  color: #03e8f9;
  transition: 250ms;
}
#journeys .journey:hover .icon {
  transform: scale(1.2) rotate(-15deg);
}

/*            Skills            */
#skills {
  background-color: #050a13;
  color: #ffffff;
}
#skills .skills {
  display: grid;
  grid-template-columns: 6fr 4fr;
  margin: 2rem 3rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
#skills .skills .title {
  color: #03e8f9;
  font-size: 1.5rem;
  margin: 1.2rem 0;
}
#skills .skills .mostSkills {
  grid-row: span 2;
  padding: 1rem;
  background-color: #1b1e26;
}
#skills .skills .mostSkills .bar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}
#skills .skills .mostSkills .bar .metadata {
  display: flex;
  justify-content: space-between;
}
#skills .skills .mostSkills .bar .bg {
  width: 100%;
  height: 3px;
  background-color: #050a13;
}
#skills .skills .mostSkills .bar .value {
  height: 3px;
  background-color: #03e8f9;
}
#skills .skills .otherSkills {
  padding: 1rem;
  background-color: #1b1e26;
  filter: brightness(130%);
}
#skills .skills .tools {
  padding: 1rem;
  background-color: #050a13;
  filter: brightness(130%);
}

/*           Projects           */
#projects .buttons {
  display: flex;
  justify-content: center;
  padding: 2.5rem;
}
#projects .buttons .button {
  width: 100%;
  background-color: #001524;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  margin: 0 1rem;
  border: 1px solid #03e8f9;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
#projects .buttons .button .name {
  display: block;
  pointer-events: none;
}
#projects .buttons .button .count {
  width: 1.5rem;
  background-color: #fd6413;
  border-radius: 50%;
  opacity: 0;
  display: block;
  transition: all 200ms ease-in;
  transform: translateY(-1rem);
  pointer-events: none;
}
#projects .buttons .selected {
  background-color: #03e8f9;
  color: #050a13;
}
#projects .buttons .selected .count {
  transform: none;
  opacity: 1;
}
#projects .buttons .button:hover .count {
  transform: translateY(0);
  opacity: 1;
}
#projects .projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  transition: all 250ms ease-out;
}
#projects .projects .project {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#projects .projects .project .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#projects .projects .project .metadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in;
  transform: translateY(-10px);
}
#projects .projects .project .metadata .title {
  font-size: 1.1rem;
  margin: 0;
}
#projects .projects .project .metadata .description {
  font-size: 1rem;
  margin: 0;
}
#projects .projects .project .metadata .title:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.5rem 0;
  width: 50px;
  height: 2px;
  background-color: #03e8f9;
}
#projects .projects .project .metadata:hover {
  opacity: 0.8;
  transform: translateY(0);
}
#projects .projects.animation-out {
  opacity: 0;
  transform: scale(0.96) translateY(20px);
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-100%);
  }
}
/*           Arrow Up           */
.arrowUp {
  cursor: pointer;
  text-align: center;
  border-radius: 100%;
  background-color: #001524;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  box-shadow: 3px 3px 0 0 #03e8f9;
}

/*            Footer            */
#contact {
  background-color: #050a13;
  color: #ffffff;
}
#contact .links {
  display: flex;
  padding: 1rem;
  justify-content: center;
}
#contact .links .link {
  gap: 1rem;
  font-size: 2rem;
}
#contact .links .link:hover .icon {
  color: #03e8f9;
}

/*            Media Query            */
@media screen and (max-width: 768px) {
  /*            Common            */
  .section {
    padding: 4rem 2rem;
  }
  .title {
    font-size: 2rem;
    margin: 0.2rem 0;
  }
  .description {
    font-size: 1rem;
  }
  /*            Header            */
  .header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.5rem 1rem;
  }
  .header .logo .title {
    margin: 0;
  }
  .header .button-container {
    display: flex;
    position: absolute;
    right: 5%;
    height: 50%;
    width: 40px;
  }
  .header .nav {
    position: relative;
    width: 100%;
    transition: all 350ms ease-in;
  }
  .header .nav .menu {
    display: none;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
  }
  .header #toggle:checked ~ #nav .menu {
    display: flex;
  }
  .header #toggle:checked ~ .button-container {
    top: -15%;
  }
  /*            Home            */
  #home {
    padding-bottom: 2.5rem;
  }
  #home .title {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }
  #home .description {
    font-size: 1rem;
  }
  /*            About            */
  #about .majors {
    flex-direction: column;
    align-items: center;
  }
  #about .period {
    font-size: 1.1rem;
  }
  #about .major {
    max-width: 25rem;
    padding: 1.2rem;
  }
  /*            Journeys            */
  #journeys .journey {
    max-width: 25rem;
    margin: 1rem 0;
    padding: 1rem;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
  }
  #journeys .journey .left .name {
    font-size: 1.2rem;
    margin: 0.5rem;
  }
  #journeys .journey .left .period {
    font-size: 0.8rem;
  }
  #journeys .journey .left .description {
    font-size: 1rem;
  }
  #journeys .journey .right {
    font-size: 0.8rem;
    min-width: 200px;
    width: auto;
  }
  #journeys .journey .right .description {
    font-size: 1rem;
  }
  #journeys .journey .right .icon {
    transition: none;
  }
  /*            Skills            */
  #skills .skills {
    grid-template-columns: 1fr;
    margin: 1rem 0;
  }
  #skills .skills .title {
    margin-top: 0;
  }
  #skills .skills .mostSkills .bar {
    padding: 0.5rem;
  }
  /*            Projects            */
  #projects .buttons {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
  }
  #projects .max-container {
    margin-top: 1rem;
  }
  #projects .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  #projects .projects .project .metadata .title {
    font-size: 0.8rem;
  }
  #projects .projects .project .metadata .description {
    font-size: 0.6rem;
  }
}
/*           Arrow Up           */
.arrowUp {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  bottom: 1.5rem;
  right: 1.5rem;
  transition: all 250ms ease;
}

.arrowUp.hide {
  opacity: 0;
}

/* ===== Scrollbar CSS ===== */ /* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #1b1e26;
}

*::-webkit-scrollbar-thumb {
  background-color: #fd6413;
  border-radius: 10px;
  border: 3px solid #050a13;
}

/*# sourceMappingURL=style.css.map */
