/*            Global            */

/*            Colors            */
$color-white: #ffffff;
$color-black: #1e1e20;
$color-blue: #03e8f9;
$color-orange: #fd6413;
$color-gray: #1b1e26;
$color-navyBlue: #001524;
$color-violet: #9ac5f4;
$color-skyBlue: #99dbf5;
$color-melon: #a7ecee;
$color-beige: #ffeebb;
$color-navy: #082032;
$color-gray2: #2c394b;
$color-gray3: #334756;
$color-orange2: #ff4c29;
$color-dark: #1c0a00;
$color-darkRed: #361500;
$color-brown: #603601;
$color-darkGold: #cc9544;
$color-lightGray: #323232;
$color-yellow: #fff395;
$color-black2: #272829;

/*            App Colors            */
$color-primary: $color-black;
$color-primary-variant: $color-black2;
$color-primary-variant2: $color-darkRed;
$color-accent: $color-yellow;
$color-accent-variant: $color-orange;
$color-text: $color-white;

/*            Background           */
$home-bg-gradient: linear-gradient(
  180deg,
  rgba(28, 10, 0, 1) 0%,
  rgba(5, 10, 19, 1) 100%
);

/*            App Size            */
$size-max-width: 1200px;
$size-inner-max-width: 800px;

$divider-single-wave: url('data:image/svg+xml;utf8, <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"><path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path></svg>');
$divider-opacity-wave: url('data:image/svg+xml;utf8, <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"><path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path><path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path><path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path></svg>');
$divider-book-wave: url('data:image/svg+xml;utf8,<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"><path d="M1200,0H0V120H281.94C572.9,116.24,602.45,3.86,602.45,3.86h0S632,116.24,923,120h277Z" class="shape-fill"></path></svg>');
$home-bg-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(189,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2303E8F9'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(75,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FF4C29'/%3E%3Cstop offset='1' stop-color='%23CC9544'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='14.19'%3E%3Cpath transform='translate(-51.8 -1.5999999999999996) rotate(-4.6 1409 581) scale(0.9465600000000001)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4.73' transform='translate(-80 44) rotate(1.2000000000000002 800 450) scale(0.99788)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(1.1999999999999993 -24) scale(0.99788)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4.3'%3E%3Cpath transform='translate(264 6.4) rotate(-1.6 150 345) scale(1.00352)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='9.46' transform='translate(-44 -122) rotate(-14.400000000000006 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-129.6 30.4) rotate(-2.4000000000000004 1400 132) scale(0.88)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
//$home-bg-svg-mobile: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%2303E8F9'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FF4C29'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath transform='translate(-102.9 11.2) rotate(3.6999999999999993 1409 581) scale(0.9807000000000001)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='translate(-105 72) rotate(10.6 800 450) scale(1.013725)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(29.6 -117) rotate(95 401 736) scale(1.013725)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='translate(432 -6.800000000000001) rotate(1.7000000000000002 150 345) scale(0.9709)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='translate(-167 -191) rotate(100.8 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-308.8 91.2) rotate(16.8 1400 132) scale(0.89)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$home-bg-svg-mobile: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%2303E8F9'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FF4C29'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath transform='translate(-137.9 19.2) rotate(8.7 1409 581) scale(0.9993800000000002)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='translate(-125 92) rotate(16.6 800 450) scale(1.023615)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(47.6 -177) rotate(155 401 736) scale(1.023615)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='translate(552 -14.8) rotate(3.7 150 345) scale(0.9504600000000001)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='translate(-247 -241) rotate(172.8 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-428.8 131.2) rotate(28.8 1400 132) scale(0.89)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

$home-profile-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2150 2150" fill="%23FD6413"><path d="M1036.3 2066.5c-133-1.2-265.8-22.8-392.3-64a893.7 893.7 0 0 1-260-133.4c-145-104.2-251.4-260.7-298.1-432.7-28.2-114.7-22.5-235.3 1.3-350.2 4.4-21.8 10.4-43.3 15.5-64.8 5-48.5 13-96.7 25.3-143.8C161.2 750.2 228.7 634.2 309.2 531c26-32.9 53.6-64.6 82.9-94.7 23.1-27.5 46.2-55.2 71.2-81.2 82.6-86.6 179.2-162 288.8-211.3 2-6.3 10-5.9 15.5-6.7 34-14.4 69.6-24.6 105.7-32.6 99.4-24.1 203-26.3 304.1-12.2 192.6 24.2 375.1 107 529 224.1 110.3 84 205.8 190.4 267.4 315a1092 1092 0 0 1 107.6 537.1c-6.2 124-29.2 248.2-78.2 362.6-63.7 150-172.7 280.2-312 365.3-121.6 75.7-259 125-399.2 151.7-84.3 15.3-170.2 18.3-255.7 18.4Zm25.8-17.8c73.2 1 146.4-7 218.5-18.7 69.5-12.2 139-28 204.6-54.4 92-38.2 173.4-98.6 243.5-168.7 106.8-110 186.2-244.8 244.2-386.2 59.1-147.7 82.8-293 31.3-447-94.2-292.5-309.4-538.6-578-685-149.6-88.4-317.9-154.6-493.7-154-27 .4-52.2 13-77.7 20.9a1131 1131 0 0 0-138 62C633 261.8 552 312.3 479.9 374.3c-43.7 34.5-77.2 79-109 124.3a1653.6 1653.6 0 0 0-115.3 187.9C196.2 802.2 147.3 924.4 117.4 1051c-10.8 134.4 1.9 271 41.9 400 51.3 170.6 139.1 340.2 291.3 440.9C632.9 2004 851 2041 1062 2048.7ZM985.2 122.5c184.9 13 353.3 91.7 508.5 188.5 263.6 159.6 482.4 434.7 548 738.6 32.1 161.5-22.3 325-92.2 469.4-73.4 147-171.5 285.3-304.6 384 219.8-120.8 357.1-338 398.5-582.6 43.3-241.5 11.4-498-105.8-715-128.3-226.7-363.8-389.2-610-465-64.6-18-131-31.7-198-36a732.8 732.8 0 0 0-155.4 17.3l11 .8ZM233.3 1693.8a643.8 643.8 0 0 0 48.8 59.7c-52.7-72-91-153.6-121-237.4a1062.7 1062.7 0 0 1-64.7-360.4c-29.3 205 15.7 371 137 538.1Zm-87.2-816.7c-1.8 6.2-3.2 12.5-4.7 18.8l-1.6 6.6c41.5-117.2 95-230.4 161.6-335.5-68.5 93.6-125.6 197.4-155.3 310.1Zm410.4-584.4L542.3 305l-11.5 10.3c101-71.9 211-132.7 327.7-174.8-25.2 3.3-51.3 3.5-76 9.5a632 632 0 0 0-58.7 27.3c-60.3 31.2-116 71-167.3 115.4Zm359.7-179.8a992 992 0 0 0-63.7 14.3c23-2.3 46-5.2 69.3-6 32.3-9 65.3-15.2 98.4-20.4a720 720 0 0 0-104 12.1Z"></path></svg>');

//
html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-white;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  user-select: none;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-text;
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid $color-accent;
}

/*           Common          */
.section {
  padding: 4rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.accent {
  font-size: 1.5rem;
  color: $color-accent;
}

.accent:hover {
  color: $color-accent-variant;
}

.max-container {
  max-width: $size-max-width;
  margin: 0 auto;
}

.inner-max-container {
  max-width: $size-inner-max-width;
  margin: 0 auto;
}

/*            Header            */
.header {
  background-color: $color-primary-variant2;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 95;
  transition: all 250ms ease-in;
  outline: 1px solid $color-accent-variant;

  /*            Logo            */
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;

    .image {
      width: 36px;
      height: 36px;
    }

    .title {
      font-size: 1.8rem;
      margin: 0;
    }
  }

  /*            Toggle btn            */

  #toggle {
    display: none;
  }

  .button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .button::before,
    .button::after {
      pointer-events: auto;
    }
  }

  .button,
  .button::before,
  .button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .button::before {
    content: "";
    margin-top: -8px;
  }

  .button::after {
    content: "";
    margin-top: 8px;
  }

  #toggle:checked + .button-container .button::before {
    margin-top: 0;
    transform: rotate(405deg);
  }

  #toggle:checked + .button-container .button {
    background: rgba(255, 255, 255, 0);
  }

  #toggle:checked + .button-container .button::after {
    margin-top: 0;
    transform: rotate(-405deg);
  }

  /*            Nav            */
  .nav {
    .menu {
      display: flex;
      gap: 4px;

      .item {
        padding: 8px 16px;
        display: block;
        text-align: center;
        border: 1px solid transparent;
      }

      .item:hover {
        border-bottom: 1px solid $color-accent;
      }

      .item.active {
        border: 1px solid $color-accent;
        border-radius: 4px;
      }
    }

    .menu.hide {
      display: none;
    }
  }
}

.header.hide {
  background-color: transparent;
  outline: none;
}

/*            Main            */

/*            Home            */
#home {
  color: $color-text;
  padding: 7rem 1rem 5rem;
  text-align: center;
  position: relative;
  background: $color-dark $home-bg-gradient;
  background-image: $home-bg-svg;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;

  .container {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 3rem;
  }

  .profile-image {
    background: $home-profile-bg;
    width: 450px;
    height: 450px;
    object-fit: cover;
    bottom: -55px;
    position: relative;
    transform: rotate(5deg);
  }

  .title {
    font-size: 3rem;
    margin: 1rem;

    .strong {
      color: $color-accent;
    }

    .name {
      color: $color-blue;
    }
  }

  .description {
    font-size: 1.3rem;
  }

  .contact-button {
    display: inline-block;
    background-color: $color-accent;
    margin: 2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: $color-black;
    border-radius: 4px;
  }

  .contact-button:hover {
    background-color: transparent;
    color: $color-text;
    outline: 2px solid $color-accent-variant;
  }
}

#home::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100%);
  height: 60px;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: $color-white;
  mask: $divider-single-wave;
  -webkit-mask: $divider-single-wave;
}

/*            About            */
#about {
  position: relative;

  .description {
    max-width: 860px;
    text-align: center;
    display: inline-block;
  }

  .majors {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;

    .major {
      flex: 1;
      background-color: $color-primary-variant;
      padding: 2rem 1rem;
      color: $color-text;
      border-radius: 1rem;
      user-select: none;
      width: 100%;
      box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);

      .icon {
        font-size: 4rem;
        margin: 1rem 0;
        color: $color-accent;
        transition: all 300ms ease;
      }

      .title {
        font-size: 1.5rem;
        font-weight: bold;
      }

      &:hover .icon {
        transform: scale(1.2) rotate(-15deg);
      }
    }
  }

  .academy {
    text-align: start;

    .school {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 1rem;

      .icon {
        font-size: 4rem;
      }

      .name {
        font-size: 2rem;
        color: $color-primary;
      }

      .period {
        color: $color-primary;
        font-size: 0.8rem;
      }
    }
  }
}

/*           Journeys          */
#journeys {
  background-color: $color-primary-variant;
  color: $color-text;
  display: flex;
  flex-direction: column;
  position: relative;

  .journey {
    margin: 2rem;
    background-color: $color-primary;
    border-radius: 8px;
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
    box-shadow:
      rgba(6, 24, 44, 0.4) 0 0 0 2px,
      rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

    .left {
      min-width: 300px;
      max-width: 500px;

      .period {
        font-size: 1rem;
      }

      .name {
        margin: 1rem 0;
        font-size: 1.3rem;
      }

      .description {
        font-size: 1.1rem;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 400px;
      font-size: 1.2rem;

      .content {
        display: inline-block;
        font-size: 1.2rem;
      }

      .content:before {
        content: " * ";
        vertical-align: sub;
        color: $color-accent-variant;
      }
    }

    .icon {
      font-size: 3rem;
      color: $color-accent;
      transition: 250ms;
    }

    &:hover .icon {
      transform: scale(1.2) rotate(-15deg);
    }
  }
}

#journeys::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100%);
  height: 60px;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: $color-primary;
  mask: $divider-opacity-wave;
  -webkit-mask: $divider-opacity-wave;
}

/*            Skills            */
#skills {
  background-color: $color-primary;
  color: $color-text;
  position: relative;

  .skills {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 3rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);

    .title {
      color: $color-accent;
      font-size: 1.5rem;
      margin: 1.2rem 0;
    }

    .mostSkills {
      grid-row: span 2;
      padding: 1rem;
      background-color: $color-primary-variant;

      .bar {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 0.5rem;

        .metadata {
          display: flex;
          justify-content: space-between;
        }

        .bg {
          width: 100%;
          height: 3px;
          background-color: $color-primary;
        }

        .value {
          height: 3px;
          background-color: $color-accent;
        }
      }
    }

    .otherSkills {
      padding: 1rem;
      background-color: $color-primary-variant;
      filter: brightness(130%);
    }

    .tools {
      padding: 1rem;
      background-color: $color-primary;
      filter: brightness(130%);
    }
  }
}

/*           Projects           */
#projects {
  position: relative;

  .buttons {
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    position: relative;

    .button {
      width: 100%;
      background-color: $color-primary-variant2;
      color: $color-text;
      font-size: 1.2rem;
      padding: 0.5rem 1.5rem;
      margin: 0 1rem;
      border: 1px solid $color-accent;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;

      .name {
        display: block;
        pointer-events: none;
      }

      .count {
        width: 1.5rem;
        background-color: $color-accent-variant;
        border-radius: 50%;
        opacity: 0;
        display: block;
        transition: all 200ms ease-in;
        transform: translateY(-1rem);
        pointer-events: none;
      }
    }

    .selected {
      background-color: $color-accent;
      color: $color-primary;

      .count {
        transform: none;
        opacity: 1;
      }
    }

    .button:hover .count {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    transition: all 250ms ease-out;

    .project {
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      box-shadow:
        rgba(50, 50, 93, 0.25) 0 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .metadata {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 250ms ease-in;
        transform: translateY(-10px);
        pointer-events: auto;

        .title {
          font-size: 1.1rem;
          margin: 0;
        }

        .description {
          font-size: 1rem;
          margin: 0;
        }

        .title:after {
          content: "";
          display: block;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          margin: 0.5rem 0;
          width: 50px;
          height: 2px;
          background-color: $color-accent;
        }
      }

      .metadata:hover {
        opacity: 0.8;
        transform: translateY(0);
      }
    }
  }

  .projects.animation-out {
    opacity: 0;
    transform: scale(0.96) translateY(20px);
  }
}

#projects::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100%);
  height: 30px;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: $color-primary;
  mask: $divider-book-wave;
  -webkit-mask: $divider-book-wave;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-100%);
  }
}

/*           Arrow Up           */
.arrowUp {
  cursor: pointer;
  text-align: center;
  border-radius: 100%;
  background-color: $color-primary-variant2;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  box-shadow: 3px 3px 0 0 $color-accent;
}

/*            Footer            */
#contact {
  background-color: $color-primary;
  color: $color-text;

  .description:hover {
    color: $color-blue;
  }

  .links {
    display: flex;
    padding: 1rem;
    justify-content: center;

    .link {
      gap: 1rem;
      font-size: 3rem;
    }

    .link:hover .icon {
      color: $color-accent;
    }
  }
}

/*            Media Query            */
@media screen and (max-width: 768px) {
  /*            Common            */
  .section {
    padding: 4rem 2rem;
  }
  .title {
    font-size: 2rem;
    margin: 0.2rem 0;
  }
  .description {
    font-size: 1rem;
  }
  /*            Header            */
  .header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.5rem 1rem;

    .logo {
      .title {
        margin: 0;
      }
    }

    .button-container {
      display: flex;
      position: absolute;
      right: 5%;
      height: 50%;
      width: 40px;
    }

    .nav {
      position: relative;
      width: 100%;
      transition: all 350ms ease-in;

      .menu {
        display: none;
        flex-direction: column;
        padding: 1rem 0;
        gap: 1rem;
      }
    }

    #toggle:checked ~ #nav .menu {
      display: flex;
    }

    #toggle:checked ~ .button-container {
      top: -15%;
    }
  }

  /*            Home            */
  #home {
    padding-bottom: 2.5rem;
    background-image: $home-bg-svg-mobile;
    background-position: 37% 0;

    .container {
      flex-direction: column;
      padding-top: 0;

      .profile-image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        bottom: 0;
      }

      .title {
        font-size: 2rem;
        padding-bottom: 0.5rem;
        min-height: 14rem;
        margin: 1rem 0 0;
      }

      .description {
        font-size: 1rem;
      }
    }
  }

  /*            About            */
  #about {
    .majors {
      flex-direction: column;
      align-items: center;
    }

    .period {
      font-size: 1.1rem;
    }

    .majors {
      margin: 0.5rem 0;

      .major {
        max-width: 25rem;
        padding: 1.2rem;
      }
    }
  }

  /*            Journeys            */
  #journeys {
    .journey {
      max-width: 25rem;
      margin: 1rem 0;
      padding: 1rem;
      gap: 0.5rem;
      flex-direction: column;
      align-items: center;

      .left {
        .name {
          font-size: 1.2rem;
          margin: 0.5rem;
        }

        .period {
          font-size: 0.8rem;
        }

        .description {
          font-size: 1rem;
        }
      }

      .right {
        font-size: 0.8rem;
        min-width: 200px;
        width: auto;

        .description {
          font-size: 0.9rem;
        }

        .icon {
          transition: none;
        }

        .content {
          font-size: 0.9rem;
        }
      }
    }
  }

  #journeys::after {
    height: 35px;
  }

  /*            Skills            */
  #skills {
    .skills {
      grid-template-columns: 1fr;
      margin: 1rem 0;

      .title {
        margin-top: 0;
      }

      .mostSkills {
        .bar {
          padding: 0.5rem;
        }
      }
    }
  }

  /*            Projects            */
  #projects {
    .buttons {
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      align-items: center;
    }

    .max-container {
      margin-top: 1rem;
    }

    .projects {
      grid-template-columns: repeat(2, 1fr);

      .project {
        .metadata {
          .title {
            font-size: 0.8rem;
          }

          .description {
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}

/*           Arrow Up           */
.arrowUp {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  bottom: 1.5rem;
  right: 1.5rem;
  transition: all 250ms ease;
}

.arrowUp.hide {
  opacity: 0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: $color-primary-variant;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-accent-variant;
  border-radius: 10px;
  border: 3px solid $color-primary;
}
