/*            Global            */

/*            Colors            */
$color-white: #ffffff;
$color-black: #050a13;
$color-blue: #03e8f9;
$color-orange: #fd6413;
$color-gray: #1b1e26;
$color-navyBlue: #001524;

/*            App Colors            */
$color-primary: $color-black;
$color-primary-variant: $color-gray;
$color-primary-variant2: $color-navyBlue;
$color-accent: $color-blue;
$color-accent-variant: $color-orange;
$color-text: $color-white;

/*            App Size            */
$size-max-width: 1200px;
$size-inner-max-width: 800px;

body {
  background-color: $color-white;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  user-select: none;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-text;
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid $color-accent;
}

/*           Common          */
.section {
  padding: 4rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.accent {
  font-size: 1.5rem;
  color: $color-accent;
}

.accent:hover {
  color: $color-accent-variant;
}

.max-container {
  max-width: $size-max-width;
  margin: 0 auto;
}

.inner-max-container {
  max-width: $size-inner-max-width;
  margin: 0 auto;
}

/*            Header            */
.header {
  background-color: $color-primary;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 95;
  /*            Logo            */
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;

    .image {
      width: 36px;
      height: 36px;
    }

    .title {
      font-size: 1.8rem;
    }
  }

  /*            Nav            */
  .nav {
    .menu {
      display: flex;
      gap: 4px;

      .item {
        padding: 8px 16px;
      }

      .item:hover {
        border-bottom: 1px solid $color-accent;
      }

      .item.active {
        border: 1px solid $color-accent;
        border-radius: 4px;
      }
    }
  }
}

/*            Main            */

/*            Home            */
#home {
  background-color: $color-primary;
  color: $color-text;
  padding: 7rem 1rem 5rem;
  text-align: center;

  .profile-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 3px solid $color-accent;
    border-radius: 50%;
  }

  .title {
    font-size: 3rem;
    margin: 1rem;

    .strong {
      color: $color-accent;
    }
  }

  .description {
    font-size: 1.3rem;
  }

  .contact-button {
    display: inline-block;
    background-color: $color-accent;
    margin: 2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: $color-black;
    border-radius: 4px;
  }

  .contact-button:hover {
    background-color: transparent;
    color: $color-text;
    outline: 2px solid $color-accent-variant;
  }
}

/*            About            */
#about {
  .majors {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;

    .major {
      flex: 1;
      background-color: $color-primary-variant;
      padding: 2rem 1rem;
      color: $color-text;
      border-radius: 1rem;
      user-select: none;
      box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);

      .icon {
        font-size: 4rem;
        margin: 1rem 0;
        color: $color-accent;
        transition: all 300ms ease;
      }

      .title {
        font-size: 1.5rem;
        font-weight: bold;
      }

      &:hover .icon {
        transform: scale(1.2) rotate(-15deg);
      }
    }
  }

  .academy {
    text-align: start;

    .school {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 1rem;

      .icon {
        font-size: 4rem;
      }

      .name {
        font-size: 2rem;
        color: $color-primary;
      }

      .period {
        color: $color-primary;
        font-size: 0.8rem;
      }
    }
  }
}

/*           Journeys          */
#journeys {
  background-color: $color-primary-variant;
  color: $color-text;
  display: flex;
  flex-direction: column;

  .journey {
    margin: 2rem;
    background-color: $color-primary;
    border-radius: 8px;
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
    box-shadow:
      rgba(6, 24, 44, 0.4) 0 0 0 2px,
      rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

    .left {
      min-width: 300px;
      max-width: 500px;

      .period {
        font-size: 1.2rem;
      }

      .name {
        margin: 1rem 0;
        font-size: 2rem;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 400px;
      font-size: 1.2rem;

      .content {
        display: inline-block;
      }

      .content:before {
        content: " * ";
        vertical-align: sub;
        color: $color-accent-variant;
      }
    }

    .icon {
      font-size: 3rem;
      color: $color-accent;
      transition: 250ms;
    }

    &:hover .icon {
      transform: scale(1.2) rotate(-15deg);
    }
  }
}

/*            Skills            */
#skills {
  background-color: $color-primary;
  color: $color-text;

  .skills {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 3rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);

    .title {
      color: $color-accent;
      font-size: 1.5rem;
      margin: 1.2rem 0;
    }

    .mostSkills {
      grid-row: span 2;
      padding: 1rem;
      background-color: $color-primary-variant;

      .bar {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 0.5rem;

        .metadata {
          display: flex;
          justify-content: space-between;
        }

        .bg {
          width: 100%;
          height: 3px;
          background-color: $color-primary;
        }

        .value {
          height: 3px;
          background-color: $color-accent;
        }
      }
    }

    .otherSkills {
      padding: 1rem;
      background-color: $color-primary-variant;
      filter: brightness(130%);
    }

    .tools {
      padding: 1rem;
      background-color: $color-primary;
      filter: brightness(130%);
    }
  }
}

/*           Projects           */
#projects {
  .buttons {
    display: flex;
    justify-content: center;
    margin: 2.5rem;

    .button {
      background-color: $color-primary-variant2;
      color: $color-text;
      font-size: 1.2rem;
      padding: 0.5rem 1.5rem;
      margin: 0 1rem;
      border: 1px solid $color-accent;
      border-radius: 4px;
      cursor: pointer;
    }

    .selected {
      background-color: $color-accent;
      color: $color-primary;
    }
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;

    .project {
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      box-shadow:
        rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .metadata {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 250ms ease-in;
        transform: translateY(-10px);

        .title {
          font-size: 1.1rem;
          margin: 0;
        }

        .description {
          font-size: 1rem;
          margin: 0;
        }

        .title:after {
          content: "";
          display: block;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          margin: 0.5rem 0;
          width: 50px;
          height: 2px;
          background-color: $color-accent;
        }
      }

      .metadata:hover {
        opacity: 0.8;
        transform: translateY(0);
      }
    }
  }
}

/*           Arrow Up           */
.arrowUp {
  cursor: pointer;
  text-align: center;
  border-radius: 100%;
  background-color: $color-primary-variant2;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  box-shadow: 3px 3px 0 0 $color-accent;
}

/*            Footer            */
#contact {
  background-color: $color-primary;
  color: $color-text;

  .links {
    display: flex;
    padding: 1rem;
    justify-content: center;

    .link {
      gap: 1rem;
      font-size: 2rem;
    }

    .link:hover .icon {
      color: $color-accent;
    }
  }
}

/*            Footer            */
@media screen and (max-width: 768px) {
  /*            Common            */
  .section {
    padding: 2rem;
  }
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1rem;
  }
  /*            Header            */
  .header {
    flex-direction: column;
    align-items: flex-start;

    .nav {
      width: 100%;

      .menu {
        flex-direction: column;
        align-items: center;
        padding: 1rem 4rem;
        gap: 1rem;
      }
    }
  }

  /*            Home            */
  #home {
    padding-bottom: 2.5rem;

    .title {
      font-size: 2rem;
      padding-bottom: 0.5rem;
    }

    .description {
      font-size: 1rem;
    }
  }

  /*            About            */
  #about {
    .majors {
      flex-direction: column;
    }

    .period {
      font-size: 1.1rem;
    }

    .major {
      max-width: 25rem;

      padding: 1.2rem;
    }
  }

  /*            Journeys            */
  #journeys {
    .journey {
      max-width: 25rem;
      margin: 1rem 0;
      padding: 1rem;
      gap: 0.5rem;
      flex-direction: column;
      align-items: center;

      .left {
        .name {
          font-size: 1.5rem;
          margin: 0.5rem;
        }

        .description {
        }
      }

      .right {
        font-size: 0.8rem;
        min-width: 200px;
        width: auto;

        .icon {
          transition: none;
        }
      }
    }
  }

  /*            Skills            */
  #skills {
    .skills {
      grid-template-columns: 1fr;
      margin: 1rem 0;

      .title {
        margin-top: 0;
      }

      .mostSkills {
        .bar {
          padding: 0.5rem;
        }
      }
    }
  }

  /*            Projects            */
  #projects {
    .projects {
      grid-template-columns: repeat(2, 1fr);

      .project {
        .metadata {
          .title {
            font-size: 0.8rem;
          }

          .description {
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}

/*           Arrow Up           */
.arrowUp {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  bottom: 1.5rem;
  right: 1.5rem;
}
